body {

}

header {
    background-color:darkblue;
    color:white;

    opacity:0.7;
    
    position:fixed;
    /* relative to the screen */
    top:0px;
    right:0px;
    left:0px
}

nav li {
    display:inline-block;
    width:20%;
}